  .s1
  {
    font-size: 30px;
    font-weight: 900;
    color: purple;
    text-align: center;
  }

  .s2
  {
    font-size: 30px;
    font-weight: 900;
    color: red;
    text-align: center;
  }

  .s3
  {
    font-size: 30px;
    font-weight: 900;
    color: rgb(38, 143, 255);
    text-align: left;
  }

  .s4
  {
    font-size: 30px;
    font-weight: 900;
    color: brown;
    text-align: left;
  }

.s5
{
  color: brown;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
}
